/* GENERALE */
html{

}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem; 
    line-height: 1.65em;
    font-weight: 400;
    color: #393D41;
    /* max-width: 1200px; */
    margin: 0 auto;
    box-sizing: border-box; 
  }
  
  .titles {
    color: #25A2C3;
    font-family: 'Montserrat', sans-serif;  
  }
  
  h1 {
    font-size: 2rem;
    margin: 10px;
  }
  
  
  /* HEADER */
  
  header nav {
    background-color: black;
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
  
  header nav img {
    width: 8em;
    margin: 1em; 
  }
  
  
  /* MAIN */  
  
  #hero {
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    background-position: top; 
    text-align: center;
    height: 45vh;
    position: relative; 
  }
  
  #hero div {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
  #hero p {
    margin: 1em;
    font-size: 1.2rem;  
    line-height: 1.5em; 
  }
  
  #hero button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
  }
  
  
  /* SERVICES */
  #services .vantages {
    margin: 1em;
    padding: 1em 0;
  }

  .column-left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1vw;
  }
  
  .column-right {
    width: 35%; 
    display: inline-block;
    margin-top: 5%;
  }
  
  #services img {
    width: 60%;
    border-radius: 50%;
    margin: 1em 1em 1em 0;
    vertical-align: middle;
    margin-left: 30%;
  }
  
  #services p {
    font-size: 1.2rem;
    margin-bottom: 1em; 
  }
  
  #services .titles {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }
  
  #services .quote-div {
    color: white;
    background-color: #e22d0e;
    padding-top: 70px;
    box-sizing: border-box;
    text-align: center;
    height: 300px;
  }
  
  #services .quote-div h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.5em;  
  }

  #services .quote-div .quote-text{
    font-style: oblique;
  }

  #services .quote-div .ceo-text{
    font-size: 12px;
  }
  
  
  /* ABOUT */
  #about{
    text-align: center;
  }
  
  #about .frame {
    display: inline-block; 
    border: 1px solid #dee1e3;
    width: calc(100%/5);
    height: 450px;
    margin: 5em 15px;
    border-radius: 5px;
    background-size: 100% 50%; 
    background-repeat: no-repeat;
    position: relative;
  }

  .frame:nth-child(1) {
    background-image: url("../../images/foto1.jpg");
  }

  .frame:nth-child(2) {
    background-image: url("../../images/foto2.jpg");
  }

  .frame:nth-child(3) {
    background-image: url("../../images/foto3.jpg");
  }

  .frame-texts {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  
  #about .frame p {
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 0.5em;
  }
  
  #about .frame img {
    width: 100%;
    margin-bottom: 1em;
    display: none;
  }
  
  
  /* FOOTER */
  footer #contact{
    margin: auto;
    width: 25%;
  }
  
  footer {
    background-color: #25A2C3;
    color: white;
    padding: 3em;
    box-sizing: border-box; 
  }
  
  footer #contact h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 1em;
    text-align: center;
  }
  
  footer p, footer a {
    font-size: 1.2rem;
    margin-bottom: 1em; 
  }

  footer #contact a{
    color: white;
  }
  
  footer hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 1em 0;
  }

  footer #contact #copyright p,
  footer #contact #copyright a{
    text-align: center;
    font-size: 13px;
  }