body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65em;
    font-weight: 400;
    color: #393D41;
}

header nav{
    background-color: black;
    height: 10em;
    text-align: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}

header nav img{
    width: 12.6em;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 50px;
}

#hero{
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 23.5em;
    text-align: center;
}

#hero p{
    margin-left: 1.6em;
    margin-right: 1.6em;
    font-size: 23px;
    line-height: 1.5em;
}

.titles{
    color: #25A2C3;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1em;
    padding-top: 1.7em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
}

#hero button{
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    font-weight: 700;
    font-size: 17px;
    color: white;
    height: 3.3em;
    width: 10em;
    border: none;
    border-radius: 5px;
    margin-top: 2.5em;
}

#services .vantages{
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 3.4em;
    padding-bottom: 3.7em;
}

#services p{
    font-size: 23px;
    margin-bottom: 1.5em;
}

#services .titles{
    font-size: 21px;
    margin-bottom: 1em;
}

#services img{
    width: 70%;
    border-radius: 200px 200px 200px 200px;
    margin-bottom: 1.5em;
}

#services .quote-div{
    color: white;
    background-color: #e22d0e;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3.4em;
    padding-bottom: 1em;
    text-align: center;
}

#services .quote-div h2{
    color: white;
    font-size: 1.8em;
}

#services .quote-div .quote-text{
    font-style: oblique;
}

#services .quote-div .ceo-text{
    font-size: 15px;
}

footer #contact{
    background-color: #27A3C9;
    color: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}

footer #contact hr{
    width: 50%;
    background: white;
    height: 1px;
    border: 0px;
    margin-bottom: 1em;
}


#contact h2{
    color: white;
    font-size: 32px;
    margin-bottom: 1em;
}

footer #contact p{
    margin-bottom: 1.5em;
}